@using UntoMeWorld.WasmClient.Client.Main
@inject NavigationManager _manager
@using Resources

<div class="appbar">
    <h3 class="appbar-title">
        @Title
    </h3>
    <div class="appbar-options-container">
        @Options
    </div>
</div>


@code {
    [Parameter]
    public RenderFragment Options { get; set; }
    
    
    [Parameter]
    public string Title { get; set; }


    protected override void OnInitialized()
    {
        _manager.LocationChanged += OnLocationChanged;
        UpdateTitle(_manager.Uri);
        base.OnInitialized();
    }

    private void UpdateTitle(string path)
    {
        var url = _manager.ToAbsoluteUri(path).LocalPath;
        Title = PageRoutes.Routes.ContainsKey(url) ? PageRoutes.Routes[url] : LangResources.ApplicationName;
        StateHasChanged();
    }

    private void OnLocationChanged(object sender, LocationChangedEventArgs e)
    {
        UpdateTitle(e.Location);
    }

}