@typeparam TItem        where TItem : UntoMeWorld.Domain.Model.Abstractions.IModel

<div class="list">
    <div class="list-header">
        @Header
    </div>
    <div class="list-body">
        @if (Items?.Any() ?? false)
        {
            <Virtualize TItem="TItem" ItemSize="50" Items="Items">
                @ItemTemplate(context)
            </Virtualize>
        }
    </div>
</div>


@code {

    [Parameter]
    public RenderFragment Header { get; set; }

    [Parameter]
    public List<TItem> Items { get; set; }

    [Parameter]
    public RenderFragment<TItem> ItemTemplate { get; set; }

}