<div class="list-controls">
    <div class="search-view">
        <input type="text">
        <div class="search-view__icon">
            
        </div>
        <ul class="search-view__suggestions">
            <li class="search-view__suggestion">
                
            </li>
        </ul>
    </div>
    
</div>
@code {
    
}