:root {
    --primary-text-color: #34405F;
    --secondary-text-color: hsla(223, 29%, 29%, .85);
    --divider-color: #eeee;
    --primary-color: #4646BA;
    --accent-color: #f9ca5b;
    --card-color: #fafafb;
    --background-color: #fafafb;
    --surface-color: white;
    --shadow-color: rgba(0, 0, 0, 0.2);
}

* {
    font-family: 'Questrial', sans-serif;
}