@page "/"
@using UntoMeWorld.WasmClient.Client.Components.UI.Models
<h3>Testing</h3>


<SelectControl @ref="_select" TValue="string" @bind-Value="@_query" Options="_options" Label="Select Option"></SelectControl>

<button @onclick="() => _select.IsEnabled = !_select.IsEnabled">
    toggle
</button>
<button @onclick="StateHasChanged">
    Update
</button>
<h3 class="pt-2">
    @_query
</h3>

@code {
    private SelectControl<string> _select;
    private string _query;

    private IEnumerable<SelectOption<string>> _options = new[]
    {
        "one", "two", "three"
    }.ToSelectOptions(x => x).ToList();

}