@import "../variables";

.button {
  --button-color: black;
  --button-on-color: #fff;

  display: inline-flex;
  align-items: center;
  font-size: $controlsFontSize;
  border-radius: $controlsBorderRadius  ;
  padding: $controlsPadding;
  justify-content: center;
  gap: .5em;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  border: none;
  margin: .125em;
  font-weight: 500;
  transition: all 200ms ease;
  color: var(--button-color);
  z-index: 1;

  &.primary {
    --button-color: var(--primary-color);
    --button-on-color: var(--on-primary-color);
  }

  &.danger {
    --button-color: var(--danger-color);
    --button-on-color: var(--on-danger-color);
  }

  &::after, &::before {
    position: absolute;
    content: '';
  }

  &::before {
    z-index: -1;
    background-color: var(--button-color);
    opacity: .25;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &::after {
    z-index: 0;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    width: 120%;
    
    aspect-ratio: 1;
    background-color: var(--button-color);
    transform: translate(-50%, -50%) scale(0);
    transition: all 250ms ease;
  }

  &:hover, &:focus, &:active {
    text-decoration: none;
    outline: none;
    color: var(--button-on-color);
    background-color: transparent;

    &::after {
      transform: translate(-50%, -50%) scale(1);
    }
  }
  
  .button__text, .button__icon {
    z-index: 1;
    color: inherit;
    transition: all 100ms linear;
  }

}
