@using UntoMeWorld.WasmClient.Client.Models
@inject NavigationManager _navigationManager

<div class="nav-menu__container">
    <nav class="nav-menu">
        <CascadingValue Value="_currentPage" Name="CurrentPage">
            <ul class="nav-menu__items">
                @foreach (var item in MenuItems)
                {
                    <NavMenuItem MenuItem="item"/>
                }
            </ul>
        </CascadingValue>
    </nav>
</div>

@code  {
    private string _currentPage = "";

    [Parameter]
    public List<MenuItem> MenuItems { get; set; } = new();


    protected override void OnInitialized()
    {
        _navigationManager.LocationChanged += OnLocationChanged;
        base.OnInitialized();
    }

    private void OnLocationChanged(object sender, LocationChangedEventArgs e)
    {
        _currentPage = e.Location;
    }
}