@page "/fetchdata"
@using UntoMeWorld.WebClient.Client.Repositories
@using UntoMeWorld.Domain.Model
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (_churches == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var church in _churches)
            {
                <tr>
                    <td>@church.Id</td>
                    <td>@church.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Church> _churches;
    private ChurchesRepository _repository;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _repository = new ChurchesRepository(Http);
            _churches = await _repository.All();
        }
        catch (Exception exception)
        {
            Console.WriteLine("Fetch error: => " + exception);
        }
    }

}