@page "/churches"
@using UntoMeWorld.Domain.Security

<h5>
    <AuthorizationContext ApiResource="ApiResource.Children">
        <AuthorizedPanel
            RequiredPermission="PermissionType.Read">
            <h4>Read permission</h4>
        </AuthorizedPanel>
        <AuthorizedPanel
            RequiredPermission="PermissionType.Purge">
            <h4>Purge permission</h4>
        </AuthorizedPanel>
    </AuthorizationContext>
</h5>

@code {

}