@page "/churches"
@using UntoMeWorld.Domain.Security
@using UntoMeWorld.Domain.Model
@using UntoMeWorld.Application.Services.Base
@using UntoMeWorld.WasmClient.Client.Utils.Extensions
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@inject IChurchesService ChurchesService


<AuthorizationContext ApiResource="ApiResource.Churches">
    <AuthorizedPanel
        RequiredPermission="PermissionType.Read">

        <div class="list-layout">
            <div class="list-layout__controls">
                <SearchView
                    OnSearch="OnSearchSubmit"
                    Placeholder="Search churches"
                    EnableSuggestions="true"
                    MaxSuggestions="4"
                    HistoryCollectionKey="churches__queries">
                </SearchView>
            </div>
            <div class="list-layout__body">
                <ListView
                    @ref="_listView"
                    Columns="Columns"
                    ItemsProvider="_listController?.ItemsProvider">

                    <ItemTemplate Context="item">
                        @switch (item.ColumnIndex)
                        {
                            case 0:
                                <span class="text-secondary py-1 font-normal">
                                    @item.Data?.Name
                                </span>
                                break;
                            case 1:
                                <span class="text-secondary py-1 font-normal">
                                    @(item.Data.Address?.AddressLine1)
                                </span>
                                break;
                            default:
                                <span class="text-secondary py-1 font-normal">
                                    @(item.Data.Pastor?.Name)
                                </span>
                                break;
                        }
                    </ItemTemplate>

                </ListView>
            </div>
        </div>


    </AuthorizedPanel>
</AuthorizationContext>

@code {
    private ListView<string, Church>? _listView;
    private ListController<string, Church>? _listController;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _listController = new ListController<string, Church>(c => c.Id, new PaginationHelper<Church>(ChurchesService.PaginateActive) { PageSize = 50 })
        {
            OnDataRefresh = () => _listView?.Reset()!
        };
        await _listController.Refresh();
    }

    private static List<ListColumn> Columns => new()
    {
        new ListColumn("Name", "col-4"),
        new ListColumn("Address", "col-4"),
        new ListColumn("Pastor", "col-4")
    };

    private Task OnSearchSubmit(string query)
    {
        return _listController?.SetTextQuery(query)!;
    }


}