@page "/churches"
@using UntoMeWorld.Domain.Security
@using UntoMeWorld.WasmClient.Client.Services.Base
@using UntoMeWorld.Domain.Model

@inject IChurchesService ChurchesService


<h5>
    <AuthorizationContext ApiResource="ApiResource.Children">
        <AuthorizedPanel
            RequiredPermission="PermissionType.Read">
            <ListView
                Columns="Columns"
                
                ItemsProvider="_listController.ItemsProvider">
                
                <ItemTemplate Context="item">
                    @switch (item.ColumnIndex)
                    {
                        case 0:
                            <span class="text-secondary py-1 font-normal">
                                @item.Data?.Name
                            </span>
                            break;
                        case 1:
                            <span class="text-secondary py-1 font-normal">
                                @(item.Data.Address?.AddressLine1)
                            </span>
                            break;
                        default:
                            <span class="text-secondary py-1 font-normal">
                                @(item.Data.Pastor?.Name)
                            </span>
                            break;
                    }
                </ItemTemplate>

            </ListView>
            
            
        </AuthorizedPanel>
    </AuthorizationContext>
</h5>

@code {
    private ListController<string, Church> _listController;
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _listController = new ListController<string, Church>(c => c.Id, new PaginationHelper<Church>(ChurchesService.Paginate) { PageSize = 50 });
    }

    private static List<ListColumn> Columns => new()
    {
        new ListColumn("Name", "col-4"),
        new ListColumn("Address", "col-4"),
        new ListColumn("Pastor", "col-4")
    };

}