@page "/churches"
@using UntoMeWorld.WasmClient.Client.ViewModels
@using UntoMeWorld.WasmClient.Client.Data.Repositories
@using UntoMeWorld.Domain.Model
@inject IRepository<Church> _repository;

<div class="main-container">
    <h3>Churches</h3>
    <div class="d-flex">
        <SearchBox OnQueryChanged="_viewModel!.Filter">
        </SearchBox>
    </div>

</div>

@code {
    private ChurchesViewModel? _viewModel;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _viewModel = new ChurchesViewModel(_repository);
    }

}