@page "/churches"
@using UntoMeWorld.WasmClient.Client.ViewModels
@using UntoMeWorld.WasmClient.Client.Data.Repositories
@using UntoMeWorld.Domain.Model
@using System.ComponentModel
@inject IRepository<Church> _repository
@inject IRepository<Pastor> _pastorsRepository


<div class="main-container">
    <h3>Churches</h3>
    <div class="d-flex">
        <SearchBox OnQueryChanged="_viewModel.Filter">
        </SearchBox>
    </div>
    
    <CascadingValue Value="@_viewModel">
        <ChurchesList OnChurchClick="OnChurchClick">
        </ChurchesList>
        <ChurchesDialog @ref="_dialog">
        </ChurchesDialog>
    </CascadingValue>
</div>


@code {
    private ChurchesDialog _dialog;
    private ChurchesViewModel _viewModel;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _viewModel = new ChurchesViewModel(_repository, _pastorsRepository);
        _viewModel.PropertyChanged += ViewModelOnPropertyChanged;
        await _viewModel.UpdateList();
        await _viewModel.UpdatePastors();

    }

    private void ViewModelOnPropertyChanged(object sender, PropertyChangedEventArgs e)
    {
        StateHasChanged();
    }

    private Task OnChurchClick(Church church)
    {
        _dialog.Hide();
        _dialog.Show(church);
        return Task.CompletedTask;
    }

}