
<div class="search-box">
    <input type="text" @onchange="OnQueryChange">
    <button class="material-icons" @onclick="OnSearchButtonClick">
        search
    </button>
</div>

@code {
    [Parameter]
    public bool IsEnabled { get; set; } = true;
    [Parameter]
    public bool NotifyOnSubmitOnly { get; set; }
    [Parameter] 
    public Func<string, Task> OnQueryChanged { get; set; } = _ => Task.CompletedTask;

    private string _query = string.Empty;

    private async Task NotifyQueryChanged()
    {
        IsEnabled = false;
        await OnQueryChanged(_query);
        IsEnabled = true;
    }
    
    private async void OnQueryChange(ChangeEventArgs e)
    {
        _query = e.Value!.ToString() ?? "";
        if (NotifyOnSubmitOnly) return;
        await NotifyQueryChanged();
    }


    private async void OnSearchButtonClick()
    {
        await NotifyQueryChanged();
    }

}