.expandable-list-item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  animation-duration: 0.001s;
  animation-name: nodeInserted;
  
  .expandable-list-item__header {
    cursor: pointer;
  }
  .expandable-list-item__content {
    opacity: 0;
    height: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 125ms linear;
  }
  &.expanded {
    .expandable-list-item__content {
      height: 100%;
      transform: scaleY(1);
      opacity: 1;
    }
  }
}

@keyframes nodeInserted {
  from { opacity: 0; }
  to { opacity: 1; }
}