.list-controls-container {
  display: flex;
  align-items: center;
  padding: .25rem 0;
  
  // Test
}
.list-layout {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  height: 100%;
  
  .list-layout__controls {
    height: auto;
    display: flex;
    align-items: center;
    gap: .5rem;
    
    .search-view {
      flex: 1 1 40%;
      max-width: 40%;
    }
  }
  .list-layout__body {
    overflow: auto;
    margin-top: .75rem;
  }
}

.list {
  display: flex;
  flex-direction: column;
}

.list-view {
  height: 100%;
  
  .list-view__header {
    padding: .5rem 1rem;
  }
  .list-view__content {
    overflow: auto !important;
  }
}

.list-view-item {
  padding: .5rem 1rem;
  margin: .5rem .25rem;
  box-shadow: 0 1px 6px var(--shadow-color-2);
  border-radius: .5rem;
  align-items: stretch;
}


.list-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .25rem 0;
}
.list-cell {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  text-align: start;
}
.list-header {
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary-color);
  text-align: start;
}
