@import "../variables";

#toastsContainer {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  z-index: 1200;
}

.toast {
  padding: .5em .75em;
  position: relative;
  isolation: isolate;
  border-radius: $controlsBorderRadius;
  font-size: $controlsFontSize;
  box-shadow: 0 0 8px var(--shadow-color-2);
  color: var(--primary-text-color);
  display: inline-flex;
  align-items: center;
  gap: .5em;
  background-color: transparent;
  overflow: hidden;
  opacity: 0;
  transform: translateY(50%);
  transition: all 500ms ease;
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: var(--toast-background-color);
  }

  &.show {
    opacity: 1;
    transform: translateY(0);
  }
  .toast-content {
    color: inherit;
  }
  .toast-icon {
    color: inherit;
    font-size: 1.25em;
  }
  &.error {
    --toast-background-color: var(--error-color, #ea5959);
    
    color: var(--on-error-color, white);
  }
  &.primary {
    --toast-background-color: var(--primary-color, white);
    color: var(--primary-text-color, black);
  }
  &.warning {
    --toast-background-color: var(--warning-color, #e39b12);
    color: var(--on-warning-color, black);
  }
  &.success {
    --toast-background-color: var(--success-color, #67c062);
    color: var(--on-success-color, white);
  }
}