@using UntoMeWorld.WasmClient.Client.ViewModels
@using UntoMeWorld.Domain.Model

@if (ViewModel!.Items.Any())
{
    <table class="base-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Pastor</th>
            <th>Address</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var church in ViewModel.Items)
            {
                <tr @onclick="async () => await OnChurchClick(church)">
                    <td>@church.Name</td>
                    <td>@GetPastorName(church)</td>
                    <td>@church.Address?.ToString()</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [CascadingParameter]
    public ChurchesViewModel ViewModel { get; set; }
    
    [Parameter]
    public Func<Church, Task> OnChurchClick { get; set; } = _ => Task.CompletedTask;

    private string GetPastorName(Church church)
    {
        if (string.IsNullOrEmpty(church.PastorId)) return "";
        var pastor = ViewModel.PastorsDictionary != null && ViewModel.PastorsDictionary.ContainsKey(church.PastorId) ? ViewModel.PastorsDictionary[church.PastorId] : null;
        return pastor == null ? "" : $"{pastor.Name} {pastor.Lastname}";
    }
}