@typeparam TItem
@using UntoMeWorld.WasmClient.Client.Utils.Extensions
@inherits DropDownBase<TItem>

<button class="drop-down@(IsOpened ? " open" : "") @CssClass" type="button" @onclick="OpenDropdown">
    <span class="sort-by__label">
        @Placeholder
    </span>

    <span class="drop-down__option">
        @SelectedOption?.DisplayValue.Truncate(MaxDisplayCharLength)
        @SelectedOption?.Icon
    </span>
    @if (SelectedOption != null)
    {
    }
    <PhosphorIcon IconName="PhosphorIcons.CaretDown" CssClass="drop-down__icon"/>
    <ul class="drop-down__options">
        @foreach (var option in Options)
        {
            <li class="@(SelectedOption != null && option.Value.Equals(SelectedOption.Value) ? "selected" : "")"
                @onclick="() => OnOptionSelected(option)">
                <span>
                    @option.DisplayValue
                </span>
                @option.Icon
            </li>
        }
    </ul>
</button>