@using UntoMeWorld.WasmClient.Client.Utils.UIHelpers
@using UntoMeWorld.WasmClient.Client.Components
@using UntoMeWorld.WasmClient.Client.Components.Interop
@implements UntoMeWorld.WasmClient.Client.Components.Base.IComponent
@inject IJSRuntime JsRuntime

<div class="expandable-list-item @CssClass @RazorUtils.If(IsExpanded, "expanded")" >
    <div class="expandable-list-item__header" @onclick="() => IsExpanded = !IsExpanded">
        @Header
    </div>
    <div class="expandable-list-item__content">
        @Content
    </div>
</div>

@code {
    private bool IsExpanded { get; set; }

    [Parameter]
    public string CssClass { get; set; } = "";
    [Parameter]
    public RenderFragment? Header { get; set; }

    [Parameter]
    public RenderFragment? Content { get; set; }

    protected override async Task OnAfterRenderAsync(bool isFirstRender)
    {
        await base.OnAfterRenderAsync(isFirstRender);
    }
}