@using UntoMeWorld.WasmClient.Client.Utils.UIHelpers
@using UntoMeWorld.WasmClient.Client.Components.Common
@implements UntoMeWorld.WasmClient.Client.Components.Base.IComponent
@inject IJSRuntime JsRuntime

<div class="expandable-list-item @CssClass" id="@_itemId">
    <div class="expandable-list-item__header">
        @Header
    </div>
    <div class="expandable-list-item__content">
        @Content
    </div>
</div>

@code {
    private readonly string _itemId = Guid.NewGuid().ToString();
    private bool IsExpanded { get; set; }

    [Parameter]
    public string CssClass { get; set; }

    protected override async Task OnAfterRenderAsync(bool isFirstRender)
    {
        await base.OnAfterRenderAsync(isFirstRender);
        if (isFirstRender)
        {
            await JsRuntime.InvokeVoidAsync(ComponentFunctions.InitExpandableItem, _itemId);
        }
    }


#nullable enable
    [Parameter]
    public RenderFragment? Header { get; set; }

    [Parameter]
    public RenderFragment? Content { get; set; }
    
#nullable disable
}