@page "/children"
@attribute [Authorize]
@using UntoMeWorld.WasmClient.Client.Data.Model
@using UntoMeWorld.Domain.Model
@using UntoMeWorld.Domain.Security
@using UntoMeWorld.WasmClient.Client.Components.Base.Buttons
@using Microsoft.AspNetCore.Authorization
@inherits ChildrenPageBase

<AuthorizationContext ApiResource="ApiResource.Children">

    <div class="list-layout">
        <div class="list-controls">
            <ListControlsLayout IsMultiSelecting="@ListController.IsMultiSelecting">
                <NormalControls>
                    <SearchView
                        OnSearch="OnSearchSubmit"
                        Placeholder="Search children"
                        EnableSuggestions="true"
                        MaxSuggestions="4"
                        HistoryCollectionKey="children__queries">
                    </SearchView>
                    <DropDown
                        Placeholder="sort by -"
                        Options="_options"
                        OnSelectionChangedAsync="OnSortFieldChanged">
                    </DropDown>
                    <AuthorizedPanel
                        RequiredPermission="PermissionType.Add">
                        <Button Style="@ButtonStyle.Primary" IconName="@PhosphorIcons.PlusCircle" Text="Add Child"
                                OnClick="AddChild"
                                CssClass="px-4">

                        </Button>

                    </AuthorizedPanel>
                </NormalControls>
                <MultiSelectControls>
                    Multi selecting...
                </MultiSelectControls>
            </ListControlsLayout>
        </div>
        <br>
        <ChildrenList
            OnEditClicked="EditChild"
            OnDeleteClicked="DeleteChild"
            @ref="ListView"
            ItemsProvider="ListController.ItemsProvider"/>
    </div>
</AuthorizationContext>


@code {

    private readonly List<DropDownOption<SortField>> _options = new()
    {
        new DropDownOption<SortField>(SortField.Desc(nameof(Child.Name)), "Name",
            PhosphorIcons.Render(PhosphorIcons.ArrowUp)),
        new DropDownOption<SortField>(SortField.Asc(nameof(Child.Name)), "Name",
            PhosphorIcons.Render(PhosphorIcons.ArrowDown)),
        new DropDownOption<SortField>(SortField.Desc(nameof(Child.Age)), "Age",
            PhosphorIcons.Render(PhosphorIcons.ArrowUp)),
        new DropDownOption<SortField>(SortField.Asc(nameof(Child.Age)), "Age",
            PhosphorIcons.Render(PhosphorIcons.ArrowDown)),
        new DropDownOption<SortField>(SortField.Desc(nameof(Child.Grade)), "Grade",
            PhosphorIcons.Render(PhosphorIcons.ArrowUp)),
        new DropDownOption<SortField>(SortField.Asc(nameof(Child.Grade)), "Grade",
            PhosphorIcons.Render(PhosphorIcons.ArrowDown)),
        new DropDownOption<SortField>(SortField.Desc(nameof(Child.IsSponsored)), "Is Sponsored",
            PhosphorIcons.Render(PhosphorIcons.ArrowUp)),
        new DropDownOption<SortField>(SortField.Asc(nameof(Child.IsSponsored)), "Is Sponsored",
            PhosphorIcons.Render(PhosphorIcons.ArrowDown)),
        new DropDownOption<SortField>(SortField.Desc(nameof(Child.ReceivesChristmasGift)), "XMas Gift",
            PhosphorIcons.Render(PhosphorIcons.ArrowUp)),
        new DropDownOption<SortField>(SortField.Asc(nameof(Child.ReceivesChristmasGift)), "XMas Gift",
            PhosphorIcons.Render(PhosphorIcons.ArrowDown)),
    };
}