@using UntoMeWorld.WebClient.Client.Model
@inherits LayoutComponentBase


<NavigationDrawer>
    <Header>
        <div class="d-flex pt-2">
            <div class="ml-auto">
                <LoginDisplay>
                </LoginDisplay>
            </div>
        </div>
    </Header>
    <Logo>
        <img
            class="logo"
            src="https://s3.amazonaws.com/assets.reachapp.co/accounts/000/000/308/open-uri20200818-4-q095ne.toolbar.?1597782915" alt="">
    </Logo>
    <Sidebar>
        <NavMenu MenuItems="_menuItems"/>
    </Sidebar>
    <Body>
    @Body
    </Body>
</NavigationDrawer>

@code {

    private readonly List<MenuItem> _menuItems = new()
    {
        new MenuItem
        {
            Title = "Home",
            Url = "/"
        },
        new MenuItem
        {
            Title = "Counter",
            Url = "counter"
        },
        new MenuItem
        {
            Title = "Churches",
            Url = "churches"
        }
    };
}