button.button, a.button {
  border-radius: .25em;
  padding: .75em 1em;
  display: inline-flex;
  align-items: center;
  margin: 0 .25em;
  color: var(--primary-text-color);
  background-color: var(--surface-color);
  border: none;
  box-shadow: 1px 1px 5px var(--shadow-color);
  
  .icon {
    font-size: 1.25rem;
    margin-right: .5em;
  }
  
  &:focus, &:active, &:visited {
    outline: none;
    text-decoration: none;
  }
  &:hover, &:focus, &:active, &:visited {
    box-shadow: 2px 2px 10px var(--shadow-color);
  }
  
  &.delete {
    background-color: var(--error-color);
    color: var(--on-error-color);
  }
  &.primary {
    color: var(--on-primary-color);
    background-color: var(--primary-color);
  }

}