.dialog {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  transform: translate(100%,100%);
  background: var(--dialog-background);
  padding: 1em;
  transition: all 200ms ease-in-out;
  z-index: -1;

  h3.dialog__title {
    font-weight: 600;
    color: var(--primary-color);
    font-size: 2rem;
  }

  &.absolute {
    position: absolute;
  }

  &.show {
    opacity: 1;
    transform: translate(0, 0);
    z-index: 100;
  }

  .header {
    display: flex;
    align-items: center;
  }
  .dialog-toggle.close {
    font-size: 22px;
    padding: .5em;
    display: inline-block;
    text-align: center;
    margin-left: auto;
    background-color: transparent;
    color: var(--primary-text-color);
    border: none;
    &:hover, &:focus {
      outline: none;
      background-color: var(--background-color);
    }
  }

  @media only screen and (min-width: 560px) {
    width: min(50%, 25rem);
    transform: translateX(100%);
    opacity: 0;
    left: unset !important;
    right: max((100vw - var(--max-width)) / 2, 1px);


    &.show {
      box-shadow: -2px 0 8px 1px var(--shadow-color);
    }
  }
}