@import "../variables";

.drop-down {
  border: none;
  background-color: transparent;
  position: relative;
  display: inline-flex;
  align-items: center;
  font-size: $controlsFontSize;
  font-weight: $controlsFontWeight;
  padding: $controlsPadding;
  outline: $controlsBorder;
  border-radius: .5rem;
  gap: .5em;

  .drop-down__option, .drop-down__icon {
    color: var(--primary-text-color);
    font-weight: $controlsAccentFontWeight;
    display: inline-flex;
    align-items: center;
    gap: .5em;
  }

  ul.drop-down__options {
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    width: auto;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    background-color: var(--surface-color);
    border-bottom-left-radius: $controlsBorderRadius;
    border-bottom-right-radius: $controlsBorderRadius;
    box-shadow: 1px 1px 2px var(--shadow-color);
    opacity: 0;
    border: $controlsBorder;

    li {
      display: flex;
      text-align: left;
      padding: $controlsPadding;
      align-items: center;
      gap: .5em;
      
      &:hover {
        background-color: var(--hover-color, #ddd6);
      }
      &.selected {
        font-weight: $controlsAccentFontWeight;
      }
    }
  }
  .drop-down__icon {
    transition: transform 200ms ease-in-out;
  }
  &.open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 1px 1px 2px var(--shadow-color);

    .drop-down__icon {
      transform: rotate(180deg);
    }

    ul.drop-down__options {
      max-height: 100vh;
      height: auto;
      opacity: 1;
      min-height: min-content;
      transition: max-height 200ms ease-in-out, opacity 200ms ease-in-out;
      
    }
  }
}
.list-controls {
  gap: 1em;
}