.login-display {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  gap: .25em;
  position: relative;
  .login-display__icon {
    font-size: 2.5rem;
  }
  
  
  .login-display__image-container {
    width: 2rem;
    display: inline-flex;
    justify-content: center;
    color: var(--primary-text-color);
    align-items: center;
    cursor: pointer;
  }
  &:hover .login-display__content {
    display: inline-flex;
    padding: .5rem .375rem;
    animation: fadeInAnimation .2s forwards;
  }
  
  .login-display__content {
    position: absolute;
    display: none;
    background-color: var(--surface-color);
    top: 100%;
    right: 0;
    min-width: 13ch;
    border-radius: .375rem;
    overflow: hidden;
    flex-direction: column;
    gap: .25em;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: 1px 1px 6px var(--shadow-color);
    
    .login-display__username {
      font-size: .875rem;
      font-weight: 500;
      color: var(--primary-text-color);
    }
    .login-display__button {
      border: none;
      background-color: transparent;
      font-weight: 400;
      font-size: .825rem;
      padding: 0;
      cursor: pointer;
      color: var(--secondary-text-color);
    }
  }



  @media only screen and (min-width: 720px) {
    .login-display__content {
      position: static;
      padding: 0;
      box-shadow: none;
      border-radius: 0;
      max-width: unset;
      min-width: unset;
      display: inline-flex;
    }
    &:hover .login-display__content {
      padding: 0;
      animation: none;
    }
  }
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}