.search-box {
  display: flex;
  background-color: var(--divider-color);
  border-radius: .25em;
  margin: 0 .5em;
  overflow: hidden;

  input {
    flex-grow: 1;
  }
  button {
    width: 3rem;
    text-align: center;
    &:hover {
      background-color: rgba(0, 0, 0, .05);
    }
  }

  input, button {
    border: none;
    outline: none;
    padding: .25em .75em;
    font-weight: 500;
    color: var(--primary-text-color);
    background-color: transparent;
  }

}