@import "dialog";
@import "searchBox";
@import "buttons";
@import "forms";

button.button.fab {
  $shadowColor: rgba(var(--shadow-color--source), .5);
  border-radius: 50%;
  color: var(--on-primary-color);
  background-color: var(--primary-color);
  position: fixed;
  right: max(calc(calc(100% - var(--max-width)) / 2 + 3rem), 3rem);
  bottom: 3rem;
  min-height: 3rem;
  min-width: 3rem;
  border: none;
  font-size: 1.5rem;
  box-shadow: 2px 2px 10px $shadowColor;
  text-align: center;
  
  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: inherit;
    transform: translate(-50%, -50%);
    font-family: 'Material Icons', sans-serif;
    content: "add";
    color: inherit;
  }
  &:hover {
    box-shadow: 3px 3px 12px $shadowColor;
  }
}
/// Dialog
