@import "dialog";
@import "searchBox";
@import "buttons";

.control {
  display: flex;
  flex-direction: column;
  margin-top: 1em;

  label {
    font-size: .875rem;
    color: var(--secondary-text-color);
    font-weight: 400;
  }
  
  input, select {
    border: none;
    color: var(--primary-text-color);
    background-color: var(--background-color);
    padding: .375em .5em;
    border-radius: .375em;
    display: block;
    width: 100%;
    font-size: 1rem;
    transition: background-color 200ms linear;

    &:focus, &:hover, &:active {
      outline: none !important;
      border: none;
    }
    &[disabled] {
      color: var(--secondary-text-color);

      &:hover {
        background-color: var(--background-color);
      }
    }
  }
}

button.button.fab {
  $shadowColor: rgba(var(--shadow-color--source), .5);
  border-radius: 50%;
  color: var(--on-primary-color);
  background-color: var(--primary-color);
  position: fixed;
  right: max(calc(calc(100% - var(--max-width)) / 2 + 3rem), 3rem);
  bottom: 3rem;
  min-height: 3rem;
  min-width: 3rem;
  border: none;
  font-size: 1.5rem;
  box-shadow: 2px 2px 10px $shadowColor;
  text-align: center;
  
  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: inherit;
    transform: translate(-50%, -50%);
    font-family: 'Material Icons', sans-serif;
    content: "add";
    color: inherit;
  }
  &:hover {
    box-shadow: 3px 3px 12px $shadowColor;
  }
}
/// Dialog
