@typeparam TItem


<table class="data-list">
    <thead>
    <CascadingValue Value="true">
        <tr>
            @ChildContent(default)
        </tr>
    </CascadingValue>
    </thead>
    <tbody>
    <CascadingValue Value="true">
        <Virtualize
            ItemSize="ItemSize"
            ItemsProvider="ItemsProvider">
            <tr>
                <td>
                    @ChildContent(context)
                </td>
            </tr>
        </Virtualize>
    </CascadingValue>
    </tbody>
</table>

@code {

    [Parameter]
    public RenderFragment<TItem?> ChildContent { get; set; } = default!;

    [Parameter]
    public ItemsProviderDelegate<TItem> ItemsProvider { get; set; } = default!;
    
    

    [Parameter]
    public int ItemSize { get; set; }

}