@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager _navigation
@inject SignOutSessionStateManager _signOutManager

<AuthorizeView>
    <Authorized>
        
        <div class="login-display">
            <a class="login-display__image-container">
                <i class="login-display__icon ph-user-circle"></i>
            </a>
            <div class="login-display__content">
                <div class="login-display__username">
                    
                    @context.User.Identity?.Name
                </div>
                <button class="login-display__button" @onclick="BeginLogout">Log out</button>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginLogout(MouseEventArgs args)
    {
        await _signOutManager.SetSignOutState();
        _navigation.NavigateTo("authentication/logout");
    }
}
