@inherits LayoutComponentBase

<div class="page-container">
    <div class="page">
    
        <Menu>
        </Menu>
    
        <main class="page-body">
            <div class="page-header">
                <div class="d-flex align-items-center justify-content-between">
                    <h6>Header</h6>
                    <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
                </div>
            </div>
            <article class="page-content">
                @Body
            </article>
        </main>
    </div>
</div>