@inject AuthenticationStateProvider AuthenticationStateProvider
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page-container">
    <div class="page">
        <CascadingDialogService>
            <Menu>
            </Menu>
            <main class="page-body">
                <div class="page-header">
                    <AppBar>
                        <Options>
                            <LoginDisplay>

                            </LoginDisplay>
                        </Options>
                    </AppBar>
                </div>
                <article class="page-content">
                    @Body
                </article>
            </main>
        </CascadingDialogService>
    </div>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var autState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        if (autState.User.Identity?.IsAuthenticated ?? false)
            return;

        AuthenticationStateProvider.AuthenticationStateChanged += _ =>
        {
            // Reload
            NavigationManager.NavigateTo("/", forceLoad:true);
        };
        NavigationManager.NavigateTo($"authentication/login?returnUrl={Uri.EscapeDataString(NavigationManager.Uri)}");
    }

}