@inherits LayoutComponentBase
@inject NavigationManager _manager;
<div class="page-container">
    <div class="page">
    
        <Menu>
        </Menu>
        <main class="page-body">
            <div class="page-header">
                <AppBar Manager="_manager">
                    <Options>
                        <LoginDisplay>
                            
                        </LoginDisplay>
                    </Options>
                </AppBar>
            </div>
            <article class="page-content">
                @Body
            </article>
        </main>
    </div>
</div>