@using DotLiquid
@model UntoMeWorld.WasmClient.Server.Controllers.RunReportModel
<link rel="stylesheet" href="/content/css/styles.css"/>
<link rel="stylesheet" href="/content/css/bootstrap/bootstrap.min.css">

<style>
    @Html.Raw(Model.Styles)
</style>

<div class="d-flex flex-column align-items-center" style="size: letter">
    <ul class="report" style="--items-per-page: 6">
        @{
            for (var index = 0; index < Model.Items.Count; index ++)
            {
                <li class="report-item">
                    @Html.Raw(Model.Template.Render(Hash.FromAnonymousObject(new { index, item = Model.Items[index] })))
                </li>
            }
        }
    </ul>
</div>