 @* ReSharper disable once CSharpWarnings::CS0693 *@
 @typeparam TModel
 
 <tr>
    @Body
    <td class="table__options-layout">
        
    </td>
 </tr>
 
 
 @code {
    [Parameter]
    public TModel? Item { get; set; }
    
    [Parameter]
    public Func<TModel, Task> OnEditClick { get; set; } = _ => Task.CompletedTask;
    
    [Parameter]
    public Func<TModel, Task> OnDelete { get; set; } = _ => Task.CompletedTask;

     [Parameter]
     public RenderFragment? Body { get; set; }

 }