@using UntoMeWorld.WasmClient.Client.Components.Dialogs.Models
@using UntoMeWorld.WasmClient.Client.Components.Base.Buttons
@inherits BaseDialog<ConfirmationDialogOptions, bool>

<div class="dialog">
    <h4 class="dialog-header text-normal font-semiBold text-lg my-0">
        @Parameter?.Title
    </h4>
    <div class="dialog-content">
        <p class="text-secondary text-start font-normal mt-1 mb-3">
            @Parameter?.SubTitle
        </p>
    </div>
    <div class="dialog-footer">
        <div class="d-flex w-100 justify-content-end align-items-center">
            @if (!string.IsNullOrEmpty(Parameter?.CancelText))
            {
                <Button
                    OnClick="() => OnCloseAsync(false)"
                    Text="@Parameter.CancelText">
                </Button>
            }
            @if (!string.IsNullOrEmpty(Parameter?.OkText))
            {
                <Button
                    CssClass="ms-2"
                    Style="@ButtonStyle.Primary"
                    OnClick="() => OnCloseAsync(true)"
                    Text="@Parameter.OkText">
                </Button>
            }
            
            
        </div>
    </div>
</div>

@code {


}