.input-control {
    display: inline-flex;
    flex-direction: column;
    margin-top: .75em;

    label {
        font-size: .875rem;
        color: var(--secondary-text-color);
        font-weight: 400;
    }
    input {
        border: none;
        color: var(--primary-text-color);
        background-color: var(--background-color);
        padding: .375em .5em;
        border-radius: .375em;
        display: block;
        width: 100%;
        font-size: 1rem;
        transition: background-color 200ms linear;

        &:focus, &:hover, &:active {
            outline: none !important;
            border: none;
        }
        &[disabled] {
            color: var(--secondary-text-color);
            
            &:hover {
                background-color: var(--background-color);
            }
        }
    }



}