table {
  border-spacing: 0;
  width: 100%;
  
  thead {
    background-color: var(--background-color);
    text-align: center;
    color: var(--primary-text-color);
    margin: 0;
    font-size: .875rem;
    tr {
      border: 1px solid red !important;
    }
    th {
      padding: .5em .25em;
      margin: 0;
    }
  }
  tr td {
    padding: 0;
  }
  tr:nth-child(odd) td {
    padding: .5em .25em;
    background-color: var(--surface-color);
    color: var(--secondary-text-color);
    font-weight: 400;
  }
  
  tr.expanded  {
    & + tr .table-options__layout {
      max-height: 100%;
    }
  }
  
  .table-options__layout {
    max-height: 0;
    overflow: hidden;
    display: block;
    transition: all 200ms ease-in-out;
    background-color: var(--surface-color);
    filter: brightness(.98);
    & > *{
      display: block;
      margin: .5em 0;
    }
  }
}